

.section1 .section-text {
  background-image: url(../images/snow-ball.jpg);
  background-size: cover;
  background-position: 0% 50%;
  color: white;
  background-color: gray;

}
.section1 .section-text a{
  padding: 10px 16px;
  border-radius: 25px;
  text-decoration: none;
  background: white;
  color: #DC143C;
}

.section1 h1{

  font-weight: bold;
}
.section1 .section-color
{
  margin: 0 auto;
  height: 60vh;
  background-color: rgba(0, 0, 64, 0.3);
}

.section1 h6{
  color: yellow;
}

.section2 .row{
  max-width: 1000px;
}
.section2 p{
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}
.section2 h6{
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
}
.section2 img{
  padding: 30px 0px;
}

.cat-class ul {
    list-style-type: none;
    margin: 0;
    display: inline-block;
}
.cat-class li{
  display: inline-block;
  padding: 6px;
}

.cat-class li h6{
    font-size: 60%;
    padding: 6px;
    font-weight: bold;
    color: #333333;
    border-radius: 25px;
    background: #d9d9d9;
    opacity: 0.7;
    text-decoration: none;
}

.social-media ul {
    list-style-type: none;
    margin: 0;
    display: inline-block;

}
.social-media li{
  display: inline-block;
  padding: 10px;
  width: 90px;
}
.social-media p{
  font-size: 80%;
  padding-right: 90px;
  margin-top: 17px;
}

.social-media .share-text{
float: left;
}


.comment{
margin: 8%;
margin-top: auto;
}

.comment-details .name{
text-align: center;
padding-top: 5%;
}

.comment-details .name h6{
padding-left: 10%;
float: left;
margin-bottom: 0;
}
.comment-details p{
  padding-left: 31%;
  padding-top: 5%;
  opacity: 0.5;
}
.name span{
padding-right: 35%;
}

.commentsWord{
opacity: 0.5;
}
.avatar__image{
  float: left;
}
.feed--sider{
  padding-top: 20px;
}
.feed{
  margin-top: 0px;
  margin-bottom: 0px;
}
.my-comment input{
  margin: 15% 9%;
  width: 60%;
  padding: 12px 20px;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  border-radius: 4px;
  box-sizing: border-box;
}
