:root{
  --font-main-color: #2E3736;
  --default-color: #F2EEEF;
  --default-color-dark: #9390AF;
  --primary-color: #007FFF;
  --primary-color-dark: #3C6DCC;
  --danger-color: #FE4E4E;
  --danger-color-dark: #AA4557;
  --warn-color: #FFAB00;
  --warn-color-dark: #B88110;
}
