:root{
  --font-main-color: #2E3736;
  --button-default-color: #F2EEEF;
  --button-default-color-dark: #9390AF;
  --button-primary-color: #007FFF;
  --button-primary-color-dark: #3C6DCC;
  --button-danger-color: #FE4E4E;
  --button-danger-color-dark: #AA4557;
}
