<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Article Page</title>
    <link rel="stylesheet" href="../css/article.css">
    <link rel="stylesheet" href="../css/foundation.min.css">
    
  </head>
  <body>
    <section class="section1">
        <div class="section-text">
      <div class="section-color">
        <div class="row">

  <div class="small-10 columns">

    <br>
    <br>
    <h6>POLITICS</h6>
    <h1>Cameron Set to Return</h1>
    <h1>With U.K. Majority as SNP</h1>
    <h1>Sweeps Scotland</h1>
    <br>
    </div>

  </div>

  </div>

</div>

    </section>
  </body>
</html>
