.avatar-container{
  padding: 0 5%;
  padding-bottom: 50px;
}
.avatar{
  min-height: 324px;
  text-align: center;
  overflow: auto;
  padding: 20px;
  cursor: pointer;
}
.avatar--white-bg{
  background: white;
}
.avatar--gradient-bg{
  background: var(--light-blue-color); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--light-blue-color) , var(--cyan-color)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--light-blue-color), var(--cyan-color)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--light-blue-color), var(--cyan-color)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, var(--light-blue-color) , var(--cyan-color)); /* Standard syntax */
}
.avatar__title{
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: var(--cyan-color);
  position: relative;
  z-index: 1;
}
.avatar__title--white,.avatar__text--white{
  color: white;
}
.avatar__title:before{
  content : "";
  position: absolute;
  left    : 45%;
  bottom  : -5px;
  height  : 1px;
  width   : 10%;  /* or 100px */
  border-bottom: 1px solid var(--cyan-color);
}
.avatar__title--white:before{
  border-color: white;
}
.avatar__image{
  border-radius: 90px;
  width: 130px;
  height: 130px;
  background: gray;
  background-size: cover;
  background-position: 50% 50%;
  margin: 40px auto;
}
.avatar__name {
  font-family: 'LatoWebHeavy';
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
.avatar__name{
  color: var(--font-main-color);
  margin-bottom: 30px;
}
.avatar__text{
  margin-top: 2em;
  font-size: 1.3rem;
  color: white;
}
