.banner{
  margin-top: 15%;
}
.banner__content{
  text-align: center;
}
.banner--with-slider{
  position: relative;
  margin-top: 0;
}
.banner__content .button{
  margin: 0 7px;
}

.banner__title{
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
  color: var(--font-main-color);
  line-height: 4.5rem;
}
.banner__sub-title{
  font-size: 1.5rem;
  color: white;
}
