.button {
	display: inline-block;
	border-radius: 3px;
	padding: 0.8rem 1rem;
	font-size: 0.8rem;
	font-weight: bold;
	letter-spacing: 0.08rem;
	cursor: pointer;
	color: var(--font-main-color);
	background-color: var(--default-color);
	transition: background 0.6s;
	-webkit-box-shadow: 2px 2px 2px 0px  var(--default-color-dark);
	-moz-box-shadow: 2px 2px 2px 0px  var(--default-color-dark);
	box-shadow: 2px 2px 2px 0px  var(--default-color-dark);
}
.button:hover{
	color: var(--default-color);
	background-color: var(--font-main-color);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.button--state-primary {
	color: white;
	background-color: var(--primary-color);
	-webkit-box-shadow: 2px 2px 2px 0px  var(--primary-color-dark);
	-moz-box-shadow: 2px 2px 2px 0px  var(--primary-color-dark);
	box-shadow: 2px 2px 2px 0px  var(--primary-color-dark);
}
.button--state-primary:hover{
	color: var(--primary-color);
	background-color: white;
}
.button--state-danger {
	color: white;
	background-color: var(--danger-color);
	-webkit-box-shadow: 2px 2px 2px 0px  var(--danger-color-dark);
	-moz-box-shadow: 2px 2px 2px 0px  var(--danger-color-dark);
	box-shadow: 2px 2px 2px 0px  var(--danger-color-dark);
}
.button--state-danger:hover{
	color: var(--danger-color);
	background-color: white;
}
