.feed {
    margin-top: 50px;
}
.feed--sider{
  padding-top: 30px;
}
.feed__title {
  font-family: 'LatoWebLight';
  color: var(--font-main-color);
}
.feed__title--small{
  font-family: 'LatoWeb';
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}
.feed__slider-container {
  height: 50vh;
  background: var(--primary-color);
}
.feed__cards-container {}

.summary {
  color: #C4C4C4;
  margin: 0 2%;
}
.summary--small{
  font-size: 0.6rem;
}
.feed__button {
    text-align: center;
}
