.footer {
    background-color: #2E2E2E;
    padding-top: 2.5rem;
    min-height: 70vh;
    /*overflow: auto;*/
}

.line {
    overflow: auto;
    min-height: 2px;
    background-color: white;
    margin-right: 27vh;
    margin-left: 27vh;
}

.footer__upper {
    height: auto;
    overflow: auto;
    border-bottom: 2px solid var(--font-main-color);
}

.footer__logo {
    height: 75px;
    width: 75px;
    background-size: cover;
}

.footer__logo,
footer__text--white {
    color: white;
    font-size: 180%
}

.footer__text--white {
    color: white;
    padding-right: 5.0rem;
}