.top-bar{
  padding-top: 1.3rem;
}
.top-bar ul{
  margin: 0;
  list-style: none;
  display: inline-block;
}
.top-bar ul li{
  float: left;
}
.top-bar__upper{
  height: auto;
  overflow:auto;
  border-bottom: 2px solid var(--font-main-color);
}
.top-bar__lower{
  margin-top: 0.8rem;
}
.logo{
  height: 35px;
  width: 35px;
  background-size: cover;
  margin: 5px auto;
  cursor: pointer;
}
